<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Welcome to 4WindsRE</title>
</head>

<body>
  <div class="row">
  
    <div class="col-xs-2">
      <div class="well">
        <h1>Now Is The Time To Buy</h1>
        <p>With interest rates so low now is the perfect time to buy home.You have
        the opportunity to save tens and thousands of dollars. Timing is very important. </p>
		<p>Save money or get more for your money</p>
        <p>
          <a class="btn btn-primary btn-sm" href="${tg.url('/contactus')}" target="_blank">
            ${h.icon('book')} Call Us Now at (404)-500-9192
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="jumbotron">
        <h1>Looking for property to buy ?</h1>
        <p>We sell homes in your city, in your neighbourhood 
        Check out our selection of beautifully renovated homes for sale. Our prices are very competitive 
        and our homes are usually in near new condition because we take the time to update and improve the houses we sell. 
        We also have properties which needs to be rehabbed. Don't loose this opportunity as the prices for those are negotiable. </p>
		<p>Be sure to bookmark this site as our inventory constantly changes. 
		Feel free to contact us if you don't see a home that you are interested in. 
		Thanks for visiting and good luck with the home search. </p>
        <p>
          <a class="btn btn-primary btn-lg" href="http://4windsre.com:8080" target="_blank">
            ${h.icon('book')} Terms and Services
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-1 hidden-xs hidden-sm">
      <a class="btn btn-info btn-sm active" href="${tg.url('/contactus')}">${h.icon('book')} Call Us NOW</a><em>(404)-500-9192</em><br/>
        <br/>
      <a class="btn btn-info btn-sm active" href="${tg.url('/contactus')}">${h.icon('book')} Email Us AT</a><em>supportre@4windsre.com</em> <br/>
        <br/>
    </div>
  </div>

  <em class="pull-right small"> Thank you for choosing 4WindsRE.</em>
</body>
</html>
