<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Enter the address to get Nearby sales</title>
</head>

<body>
	<div class="row">
    <div class="col-xs-12 well">
      <h2>Get Sales for the given address</h2>
      
      <p py:if="not kw">In this page you can enter the addresses you wish to get nearby sales for. </p>
      <p py:if="not kw"> To enter multiple addresses use separator "|".</p>
      <p py:if="not kw"> If you wish to enter the metadata for the subject property please use the separator ":"</p>
      <p py:if="not kw"> Like address:beds:baths:sqft:lot size:price</p>
      <p py:if="not kw"> Please keep the sequence of metadata same for better results</p>				
      <p class="form-control btn btn-info" py:if="not kw">${form.display(value="Find Sales")}</p>

       
      <span py:if="kw">
      	<ul>
      		<li py:for="address in kw['result']">
      			<br></br>
	      		<span py:if="kw">Here are nearby sales for the following address ${address} <br></br> ${kw['result'][address]['metadata']}</span>
	      		<br></br>
	      		<table border="1" style="width:100%">
	      			<th> Address </th>
	      			<th> Beds </th>
	      			<th> Baths </th>
	      			<th> Lot Size </th>
	      			<th> Square feet </th>
	      			<th> Price </th>
	      			<th> Build Ratio </th>
	      			<th> Price/SqFt </th>
	      			<?python
	      			import re
      				avgprice = 0.0
      				sumbr = 0.0
			      	total = 0
			      	for each in kw['result'][address]:
			      		for value in kw['result'][address][each].split('|'):
			      			if "price per Sqft" in value :
			      				pps = re.sub('[A-Za-z]','',value)
			      				avgprice += float(pps)
			      				total += 1
			      			if "Build Ratio" in value :
			      				br = re.sub('[A-Za-z]','',value)
			      				sumbr = sumbr + float(br)
			      				
					avgpps = avgprice/total
					avgbr = sumbr/total
				    ?>
	      			<tr py:for="each in kw['result'][address]">
						<td py:if="each != 'metadata'"> $each </td>
						<?python
						import re
				      	dataArray = []
				      	total += 1
				      	for value in kw['result'][address][each].split('|'):
				      		dataArray.append(re.sub('[A-Za-z]','',value))
				      	?>
	      			   <td py:for="data in dataArray" py:if="each != 'metadata'">${data}</td>
	      			</tr>
	      		</table>
	      		<br></br>
	      		<span> Comp Average Price Per Sqft is ${avgpps} and Comp Build ratio is ${avgbr} </span>
	      	</li>
     	 </ul>
	  </span>
 	</div>
  </div>
</body>
</html>
